@tailwind base;
@tailwind components;
@tailwind utilities;




/*--------  THEME PROPERTIES -----------*/
/* 
Background Color - DARK MODE( #292B32 ) Light Mode ( #F7F7F8 )
DIV first fold - NO Background color

*/

 
:root{
    --bg:white,
    --textColor:black,
    --softBg: #f0f0f0,
    --softTextColor:#626262
}

/* The div wrapper from layout.jsx file will have this container wrapper */
.container{

}



*{
  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #292B32;
    color: white;
    /* justify-content: center; */
    /* text-align: center; */
}

main.wrapper{
    /* max-width: 1536px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 375px) {
    main.wrapper {
      padding-left: 2%;
      padding-right: 2%;
    }
  }




.pipe > span:not(:last-child)::after {
    content: " | "; 
  }